################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BandhanApp/BandhanApp/obj/Debug/net8.0/BandhanApp.AssemblyInfo.cs
/BandhanApp/BandhanApp/obj/Debug/net8.0/BandhanApp.AssemblyInfoInputs.cache
/BandhanApp/BandhanApp/obj/Debug/net8.0/BandhanApp.assets.cache
/BandhanApp/BandhanApp/obj/Debug/net8.0/BandhanApp.GeneratedMSBuildEditorConfig.editorconfig
/BandhanApp/.vs/BandhanApp/FileContentIndex/1167e67d-8042-44bd-b5e3-6f403246593f.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/1f9dc0fd-d856-4b91-b78c-da64d5ecec67.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/21bef353-e04b-4df0-9fd8-216267380f4c.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/499d2398-8fae-4b2f-862c-95b0af153723.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/cc1f62e4-58a4-4279-93c5-affd5379aa08.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/e0c9c650-85d6-48ae-9614-6ef28dd7e57d.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/ea041d55-6f9f-4d55-8479-674a2b86dbd0.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/7ebdcf97-d607-4e21-9099-cecbb71e69c9.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/8292c7e3-2124-4265-9b3f-18b92abe7226.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/245b35c5-f1ef-4ad2-acc7-6060861f45a3.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/a478dc31-5b1b-4d00-ba67-1af83ab7a9fb.vsidx
/BandhanApp/.vs/BandhanApp/FileContentIndex/e7b71193-214c-4c3d-a3ec-cf96afe59d59.vsidx
